*{
    margin: 0;
    padding: 0;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
}

td{
    width:30vw;
    height:2rem;
}

header{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
}

footer{
    font-size: 0.7rem;
    line-height: 1rem;
}

header,footer{
    background-color: black;
    color: white;
}

main{
    height: calc(100vh - 3.5rem);
}

input{
    font-size: 3rem;
    height:7rem;
    width:95vw;
}

div.buttonDiv{
    margin-left: 2.5vw;
    align-items:center;
    width: 95vw;
    height: calc((100vh - 12rem - 4vh)/4);
}

button{
    margin-left: -1vw;
    height: calc((100vh - 12rem - 4vh)/4);
    width: 33.5%;
    font-size:2rem;
    background-color: darkgreen;
    color: white;
}